{% load static %}
<p>
    В модели <i>SEIR</i> присутствует <i>инкубационный период</i>. Перед тем, как перейти из восприимчивого в статус
    инфицированного, индивид некоторое время находится в статусе <i>зараженного</i>. Это означает, что индивид уже
    заражен, но еще не является распространителем болезни.
    В этой модели у индивидов появляется иммунитет после выздоровления.
</p>
<p>Расшифровка названия этой модели:</p>
<ul>
    <li><i>Susceptible</i> - восприимчивые</li>
    <li><i>Exposed</i> - зараженные</li>
    <li><i>Infected</i> - инфицированные</li>
    <li><i>Recovered</i> - выздоровевшие</li>
</ul>
<p>
    Поскольку инкубационный период откладывает начало заразного периода индивидуума, распространение от
    зараженного индивидуума произойдет в более позднее время по сравнению с моделью SIR, которая не имеет задержки.
    Следовательно, начальный рост эпидемии будет медленнее.
</p>
<!--TODO-->
<p>где</p>
<ul>
    <li><i>S(t)</i> — количество восприимчивых людей в момент времени <i>t</i></li>
    <li><i>I(t)</i> — количество инфицированных людей в момент времени <i>t</i></li>
    <li><i>R(t)</i> — количество переболевших с пожизненным иммунитетом людей в момент времени <i>t</i></li>
    <li><i>N</i> — начальная популяция</li>
    <li><i>β</i> — коэффициент интенсивности контактов индивидов с последующим инфицированием</li>
    <li>
        <i>γ</i> — коэффициент интенсивности выздоровления инфицированных индивидов
        (величина, обратная средней продолжительности болезни)
    </li>
</ul>
<p></p>
<h3>Модель <i>SEIR</i> с жизненной динамикой</h3>
<!--TODO-->
<p>Для учета жизненной динамики заболевания нужно добавить параметры ..., тогда </p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>