{% load static %}
<p>
    В модели <i>SEIRD</i> учитывается смертность заболевания и есть инкубационный период.
    После того как индивид заболеет, по истечении инкубационного периода он перейдет в состояние инфицированного и
    начнет заражать других восприимчивых.
    Затем он может как выздороветь, получив пожизненный иммунитет к болезни, так и умереть от неё.
</p>
<p>Расшифровка названия этой модели:</p>
<ul>
    <li><i>Susceptible</i> - восприимчивые</li>
    <li><i>Exposed</i> - зараженные</li>
    <li><i>Infected</i> - инфицированные</li>
    <li><i>Recovered</i> - выздоровевшие</li>
    <li><i>Deceased</i> - умершие</li>
</ul>
<img src="{% static 'images/schemes/seird.jpg' %}" height="170">
<br>
<br>
<img src="{% static 'images/diffs/seird.jpg' %}" height="320">
<br>
<br>
<p>где</p>
<ul>
    <li><i>S(t)</i> — количество восприимчивых людей в момент времени <i>t</i></li>
    <li><i>E(t)</i> — количество зараженных людей, еще не распространяющих болезнь, в момент времени <i>t</i></li>
    <li><i>I(t)</i> — количество инфицированных людей в момент времени <i>t</i></li>
    <li><i>R(t)</i> — количество переболевших с пожизненным иммунитетом людей в момент времени <i>t</i></li>
    <li><i>D(t)</i> — количество умерших от болезни людей в момент времени <i>t</i></li>
    <li><i>N</i> — начальная популяция</li>
    <li><i>β</i> — коэффициент интенсивности контактов индивидов с последующим инфицированием</li>
    <li>
        <i>γ</i> — коэффициент интенсивности выздоровления инфицированных индивидов
        (величина, обратная средней продолжительности болезни)
    </li>
    <li><i>α</i> — величина, обратная длительности инкубационного периода</li>
    <li><i>μ</i> — коэффициент смертности от болезни</li>
</ul>
<p>Условие</p>
<img src="{% static 'images/constructs/seird.jpg' %}" height="65px">
<p>описывает неизменность численности популяции.</p>
<p></p>
<h3>Модель <i>SEIRD</i> с жизненной динамикой</h3>
<p>Для учета жизненной динамики заболевания нужно добавить параметры рождаемости и смертности популяции, тогда </p>
<img src="{% static 'images/diffs/seirdv.jpg' %}" height="320">
<br>
<br>
<p>где</p>
<ul>
    <li><i>λ</i> — коэффициент рождаемости популяции</li>
    <li><i>ω</i> — коэффициент смертности популяции</li>
</ul>