{% load static %}
<p>
    Главной особенностью модели <i>SI</i> является то, что инфицированные люди никогда не выходят из этого состояния.
</p>
<p>
    После заражения люди остаются инфицированными на протяжении всей своей жизни и заражают восприимчивых людей.
    Если рассматривать модель без жизненной динамики, то все восприимчивые со временем заразятся.
</p>
<img src="{% static 'images/schemes/si.jpg' %}" height="75">
<br>
<br>
<img src="{% static 'images/diffs/si.jpg' %}" height="150">
<br>
<br>
<p>где</p>
<ul>
    <li><i>S(t)</i> — количество восприимчивых людей в момент времени <i>t</i></li>
    <li><i>I(t)</i> — количество инфицированных людей в момент времени <i>t</i></li>
    <li><i>N</i> — начальная популяция</li>
    <li><i>β</i> — коэффициент интенсивности контактов индивидов с последующим инфицированием</li>
</ul>
<p>Условие</p>
<img src="{% static 'images/constructs/si.jpg' %}" height="65px">
<p>описывает неизменность численности популяции.</p>
<p></p>
<h3>Модель <i>SI</i> с жизненной динамикой</h3>
<p>Для учета жизненной динамики заболевания нужно добавить параметры рождаемости и смертности популяции, тогда </p>
<img src="{% static 'images/diffs/siv.jpg' %}" height="140">
<br>
<br>
<p>где</p>
<ul>
    <li><i>λ</i> — коэффициент рождаемости популяции</li>
    <li><i>ω</i> — коэффициент смертности популяции</li>
</ul>