{% load static %}
<p>Аббревиатура <i>SIR</i> происходит от трех английских слов:</p>
<ul>
    <li><i>Susceptible</i> - восприимчивые</li>
    <li><i>Infected</i> - инфицированные</li>
    <li><i>Recovered</i> - выздоровевшие</li>
</ul>
<p>
    Модель <i>SIR</i> - это модель с пожизненным иммунитетом после выздоровления, которая развивается по сценарию
    <i>«восприимчивые становятся инфицированными, затем выздоравливают»</i>.
</p>
<p>Она описывается системой из трех дифференциальных уравнений:</p>
<p></p>
<img src="{% static 'images/diffs/sir.png' %}" height="170">
<p>где</p>
<ul>
    <li><i>S(t)</i> — количество восприимчивых людей в момент времени <i>t</i></li>
    <li><i>I(t)</i> — количество инфицированных людей в момент времени <i>t</i></li>
    <li><i>R(t)</i> — количество переболевших с пожизненным иммунитетом людей в момент времени <i>t</i></li>
    <li><i>N</i> — начальная популяция</li>
    <li><i>β</i> — коэффициент интенсивности контактов индивидов с последующим инфицированием</li>
    <li>
        <i>γ</i> — коэффициент интенсивности выздоровления инфицированных индивидов
        (величина, обратная средней продолжительности болезни)
    </li>
</ul>
<p>
    Первое уравнение системы означает, что изменение числа восприимчивых к заболеванию индивидуумов уменьшается
    со временем пропорционально числу контактов с инфицированными.
    После контакта происходит заражение, восприимчивый переходит в состояние инфицированного.
</p>
<p>
    Второе уравнение показывает, что скорость увеличения числа заразившихся растет пропорционально числу контактов
    здоровых и инфицированных и уменьшается по мере выздоровления последних.
</p>
<p>
    Третье уравнение демонстрирует, что число выздоровевших в единицу времени пропорционально числу инфицированных.
    Иначе говоря, каждый заболевший через некоторое время должен поправиться.
</p>
<p>Условие</p>
<img src="{% static 'images/contract_sir.png' %}">
<p>описывает неизменность численности популяции (без учета случаев смерти от заболевания).</p>
<p>Так же заразность моделируемого заболевания в данной модели характеризует следующая величина.</p>
<img src="{% static 'images/brn.png' %}">
<p>
    Величина получила название <i>"базовое репродуктивное число"</i> или <i>"индекс репродукции"</i>.
    Она определяет количество людей, которые будут заражены одним человеком, попавшим в полностью восприимчивое
    окружение. Если величина больше 0, то на начальном этапе число заболевших будет расти экспоненциально.
</p>
<p>
    В закрытой популяции без жизненной динамики эпидемия в конечном итоге остановится из-за недостаточного количества
    восприимчивых людей для поддержания болезни. Зараженные люди, добавленные позже, не начнут новую эпидемию из-за
    пожизненного иммунитета существующего населения.
</p>
<p></p>
<p></p>
<p></p>
<h3>Модель <i>SIR</i> с жизненной динамикой</h3>
<p>
    Однако в популяции с жизненной динамикой популяция обеспечивается новыми восприимчивыми людьми,
    поддерживая эпидемию или позволяя болезни распространяться среди населения
    (на графике появляются волны новых вспышек эпидемии). Но постепенно динамика развития эпидемии все равно достигнет
    устойчивого состояния из-за большого количества людей с иммунитетом.
</p>
<p></p>
<img src="{% static 'images/diffs/sirv.png' %}" height="170">
<p>где</p>
<ul>
<!--    TODO сделать картинку с диффурами и написать описания параметров-->
    <li><i>S(t)</i> — количество восприимчивых людей в момент времени <i>t</i></li>
    <li><i>I(t)</i> — количество инфицированных людей в момент времени <i>t</i></li>
    <li><i>R(t)</i> — количество переболевших с пожизненным иммунитетом людей в момент времени <i>t</i></li>
    <li><i>N</i> — начальная популяция</li>
    <li><i>β</i> — коэффициент интенсивности контактов индивидов с последующим инфицированием</li>
    <li>
        <i>γ</i> — коэффициент интенсивности выздоровления инфицированных индивидов
        (величина, обратная средней продолжительности болезни)
    </li>
</ul>
<p></p>
<p></p>
<p></p>
