{% load static %}
<p>
    В модели <i>SIRDS</i> учитывается смертность заболевания. После инфицирования индивид может как выздороветь,
    получив временный иммунитет к болезни, так и умереть от неё.
    После некоторого периода выздоровевший снова перейдет в состояние восприимчивого.
</p>
<img src="{% static 'images/schemes/sirds.jpg' %}" height="210">
<br>
<br>
<img src="{% static 'images/diffs/sirds.jpg' %}" height="260">
<br>
<br>
<p>где</p>
<ul>
    <li><i>S(t)</i> — количество восприимчивых людей в момент времени <i>t</i></li>
    <li><i>I(t)</i> — количество инфицированных людей в момент времени <i>t</i></li>
    <li><i>R(t)</i> — количество переболевших с пожизненным иммунитетом людей в момент времени <i>t</i></li>
    <li><i>D(t)</i> — количество умерших от болезни людей в момент времени <i>t</i></li>
    <li><i>N</i> — начальная популяция</li>
    <li><i>β</i> — коэффициент интенсивности контактов индивидов с последующим инфицированием</li>
    <li>
        <i>γ</i> — коэффициент интенсивности выздоровления инфицированных индивидов
        (величина, обратная средней продолжительности болезни)
    </li>
    <li><i>μ</i> — коэффициент смертности от болезни</li>
    <li><i>ξ</i> — величина, обратная длительности иммунитета</li>
</ul>
<p>Условие</p>
<img src="{% static 'images/constructs/sird.jpg' %}" height="65px">
<p>описывает неизменность численности популяции.</p>
<p></p>
<h3>Модель <i>SIRDS</i> с жизненной динамикой</h3>
<p>Для учета жизненной динамики заболевания нужно добавить параметры рождаемости и смертности популяции, тогда </p>
<img src="{% static 'images/diffs/sirdsv.jpg' %}" height="260">
<br>
<br>
<p>где</p>
<ul>
    <li><i>λ</i> — коэффициент рождаемости популяции</li>
    <li><i>ω</i> — коэффициент смертности популяции</li>
</ul>