{% load static %}
<p>
    В модели <i>SIS</i> инфицированные люди после выздоровления сразу переходят в обратно в состояние восприимчивых.
    Иммунитет отсутствует.
</p>
<p>
    Эта модель хорошо подходит для моделирования болезней, которые часто вызывают повторные заражения.
</p>
<!--TODO-->
<p>где</p>
<ul>
    <li><i>S(t)</i> — количество восприимчивых людей в момент времени <i>t</i></li>
    <li><i>I(t)</i> — количество инфицированных людей в момент времени <i>t</i></li>
    <li><i>R(t)</i> — количество переболевших с пожизненным иммунитетом людей в момент времени <i>t</i></li>
    <li><i>N</i> — начальная популяция</li>
    <li><i>β</i> — коэффициент интенсивности контактов индивидов с последующим инфицированием</li>
    <li>
        <i>γ</i> — коэффициент интенсивности выздоровления инфицированных индивидов
        (величина, обратная средней продолжительности болезни)
    </li>
</ul>
<p></p>
<h3>Модель <i>SIS</i> с жизненной динамикой</h3>
<!--TODO-->
<p>Для учета жизненной динамики заболевания нужно добавить параметры ..., тогда </p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>