@font-face {
    font-family: logoFont;
    src: url('../fonts/CaviarDreams_Bold.ttf');
    font-weight: bold;
}

@media only screen and (max-device-width: 480px) {
    html {
        width: 1500px;
        height: 100%;
    }

    .schema-image {
        width: 100%;
        height: 100%;
        min-width: 600px;
    }
}

header {
    height: 70px;
    top: 0;
    width: 100%;
    min-width: 700px;
    background-color: #009B95;
    color: azure;
    font-weight: bold;
    position: sticky;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
    z-index: 9999;
}

.schema-image {
    max-width: 55vw;
}

.row {
    width: 100%;
}

.logo {
    width: 450px !important;
    box-sizing: border-box;
    text-align: center;
}

.logo:hover {
    cursor: pointer;
}

.logo-text a {
    text-decoration: none !important;
    color: inherit;
}

.logo-text a:hover {
    color: inherit;
}

.logo-text {
    line-height: 70px;
    font-size: 30px;
    font-family: logoFont;
    text-decoration: none !important;
    color: inherit !important;
    text-shadow: 5px 5px 5px #006561;
}

.logo-text {
    text-decoration: none !important;
    color: inherit !important;
}

.logo-text:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.logo-text img {
    width: 50px;
    box-shadow: 5px 5px 5px #006561;
}

.dropdown-item {
    height: 35px;
}

.dropdown-item:hover {
    background-color: #FFB173 !important;
}

.plot-container {
    height: calc(100vh * 0.6);
    width: calc(100vw * 0.55);
    min-width: 700px;
}

.plot {
    height: calc(100vh * 0.6);
    position: relative;
}

.model-title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 150px;
}

.form-container {
    font-size: 17px;
    margin-top: 20px;
    margin-left: 90px;
    width: 25%;
    float: left;
}

.content-container {
    margin-left: 100px;
    margin-top: 20px;
    width: calc(100vw * 0.55);
    max-width: 80vw;
    min-width: 700px;
    float: left;
}

td {
    padding-left: 20px !important;
}

.help-text {
    font-size: 15px;
    width: 350px;
    padding-bottom: 10px !important;
}

input {
    width: 200px;
}

.form-card input[type=submit] {
    margin-top: 15px;
}

.form-card input[type=reset] {
    margin-top: 15px;
}


.vital-checkbox input {
    width: 50px;
}

.switch-label {
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    padding-top: 3px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider-desc {
    font-size: 18px;
    justify-content: center;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    margin-top: 3px;
    margin-bottom: -3px;
}

.slider.round:before {
    border-radius: 50%;
}

.number-for-range {
    width: 70px !important;
}

.about {
    font-size: 18px;
    margin-top: 40px;
    margin-left: 130px;
    margin-right: 130px;
}

.about-info {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 16px;
}

.about-model-header {
    font-size: 26px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
}

.about-header {
    font-size: 26px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 150px;
}

th {
    width: 150px !important;
}