{% extends "base.html" %}
{% block content %}
<div class="about-header">О моделях развития эпидемий</div>
<div class="about">
    <p>Модели развития эпидемий - это системы дифференциальных уравнений, которые позволяют смоделировать и отследить
        развитие различных болезней, чтобы понять как с ними бороться.</p>
    <p>В медицинской классификации эпидемией называют прогрессирующее распространение инфекционного заболевания на
        уровне выше среднего на данной территории.
        В случае распространения эпидемии на большие территории или территории многих стран говорят о пандемии.</p>

    <p>Увидеть как устроены модели развития эпидемий можно увидеть на примере базовой модели SIR.</p>
    <p>Аббревиатура SIR происходит от трех английских слов:</p>
    <ul>
        <li><i>Susceptible</i> - восприимчивые</li>
        <li><i>Infected</i> - инфицированные</li>
        <li><i>Recovered</i> - выздоровевшие</li>
    </ul>
    <p>Восприимчивые здесь - это люди, которые еще не переболели.</p>
    <p>В рамках этой модели с помощью систем дифференциальных уравнений описывается динамика распространения заболевания.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>
{% endblock content %}