{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="about-header">О моделях развития эпидемий</div>
<div class="about">
    <p>
        В медицинской классификации <i>эпидемией</i> называют прогрессирующее распространение инфекционного заболевания
        на уровне выше среднего на данной территории.
    </p>
    <p>Самый простой способ смоделировать распространение эпидемии среди населения - это разделить людей на разные
        группы. Модели развития эпидемий управляются системой дифференциальных уравнений, которые отслеживают популяцию
        как функцию времени, разделяя ее на разные группы в зависимости от статуса человека относительно инфекции.
        Модели отслеживают количество людей в каждой из следующих категорий:</p>
    <ul>
        <li><i>Susceptible</i> - восприимчивые. Люди, способные заразиться.</li>
        <li>
            <i>Exposed</i> - зараженные. Уже зараженные люди, но из-за инкубационного периода еще не
            распространяющие инфекцию.
        </li>
        <li><i>Infected</i> - инфицированные и распространяющие инфекцию.</li>
        <li><i>Recovered</i> - выздоровевшие. Уже не распространяющие инфекцию и обладающие иммунитетом.</li>
    </ul>
    <p>
        Модели развития эпидемий детерминированы , то есть при одинаковых входных данных они каждый раз дают одни и
        те же результаты. Они способны прогнозировать различные свойства распространения инфекции,
        могут оценивать продолжительность эпидемий и использоваться для понимания того, как различные ситуации
        или вмешательства могут повлиять на исход распространения патогенов.
    </p>
    <p>
        Различные болезни можно представить разными моделями. Например, болезнь без инкубационного периода представлена
        моделью <i>SIR</i>, а болезнь, имеющая пожизненную инфекционность, моделью <i>SI</i>.
        Посмотреть на графики и прочитать подробнее о каждой модели можно на странице соответствующей модели.
    </p>
    <p>
        Рассмотрим модели подробнее на примере модели <i>SIR</i>.
        Для неё используются следующие дифференциальные уравнения:
    </p>
    <img src="{% static 'images/sir_diffs.png' %}">
    <p>где</p>
    <ul>
        <li><i>N</i> — начальная популяция</li>
        <li><i>β</i> — коэффициент интенсивности контактов индивидов с последующим инфицированием</li>
        <li><i>γ</i> — коэффициент интенсивности выздоровления инфицированных индивидов</li>
    </ul>
    <p>
        <i>Первое уравнение системы</i> означает, что изменение числа восприимчивых к заболеванию индивидуумов
        уменьшается со временем пропорционально числу контактов с инфицированными.
        После контакта происходит заражение, восприимчивый переходит в состояние инфицированного.
    </p>
    <p>
        <i>Второе уравнение</i> показывает, что скорость увеличения числа заразившихся растет пропорционально числу
        контактов здоровых и инфицированных и уменьшается по мере выздоровления последних.
    </p>
    <p>
        <i>Третье уравнение</i> демонстрирует, что число выздоровевших в единицу времени пропорционально числу
        инфицированных. Иначе говоря, каждый заболевший через некоторое время должен поправиться.
    </p>
    <p>
        Таким образом, заболевание в модели <i>SIR</i> развивается по схеме
        <i>«восприимчивые становятся инфицированными, затем выздоравливают»</i>.
    </p>
    <p>Условие</p>
    <img src="{% static 'images/contract_sir.png' %}">
    <p>описывает неизменность численности популяции (без учета случаев смерти от заболевания).</p>
    <p>
        Здесь рассмотрен вариант модели <i>SIR</i> без учета жизненной динамики.
        Но также можно учитывать рождаемость и смертность популяции.
        Тогда в популяцию будут добавляться новые восприимчивые к болезни индивиды, которые смогут поддерживать развитие
        эпидемии.
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock content %}