{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="about-header">О моделях развития эпидемий</div>
<div class="about">
    <p>
        В медицинской классификации <i>эпидемией</i> называют прогрессирующее распространение инфекционного заболевания
        на уровне выше среднего на данной территории.
    </p>
    <p>
        <i>Модели развития эпидемий</i> - это системы дифференциальных уравнений, которые позволяют смоделировать и
        отследитьразвитие различных болезней, чтобы понять как с ними бороться.
    </p>
    <p>Увидеть как устроены модели развития эпидемий можно увидеть на примере базовой модели <i>SIR</i>.</p>
    <p>Аббревиатура SIR происходит от трех английских слов:</p>
    <ul>
        <li><i>Susceptible</i> - восприимчивые</li>
        <li><i>Infected</i> - инфицированные</li>
        <li><i>Recovered</i> - выздоровевшие</li>
    </ul>
    <p>Восприимчивые здесь - это люди, которые еще не переболели.</p>
    <p>
        В рамках этой модели с помощью систем дифференциальных уравнений описывается динамика распространения
        заболевания
    </p>
    <img src="{% static 'images/sir_diffs.png' %}">
    <p>где</p>
    <ul>
        <li><i>N</i> — начальная популяция</li>
        <li><i>β</i> — коэффициент интенсивности контактов индивидов с последующим инфицированием</li>
        <li><i>γ</i> — коэффициент интенсивности выздоровления инфицированных индивидов</li>
    </ul>
    <p>
        Первое уравнение системы означает, что изменение числа восприимчивых к заболеванию индивидуумов уменьшается
        со временем пропорционально числу контактов с инфицированными.
        После контакта происходит заражение, восприимчивый переходит в состояние инфицированного.
    </p>
    <p>
        Второе уравнение показывает, что скорость увеличения числа заразившихся растет пропорционально числу контактов
        здоровых и инфицированных и уменьшается по мере выздоровления последних.
    </p>
    <p>
        Третье уравнение демонстрирует, что число выздоровевших в единицу времени пропорционально числу инфицированных.
        Иначе говоря, каждый заболевший через некоторое время должен поправиться.
    </p>
    <p>
        Таким образом, заболевание в модели SIR развивается по схеме
        <i>«восприимчивые становятся инфицированными, потом выздоравливают»</i>.
    </p>
    <p>Условие</p>
    <img src="{% static 'images/contract_sir.png' %}">
    <p>описывает неизменность численности популяции (без учета случаев смерти от заболевания).</p>
    <p>Так же заразность моделируемого заболевания характеризует следующая величина.</p>
    <img src="{% static 'images/brn.png' %}">
    <p>
        Величина получила название <i>"базовое репродуктивное число"</i> или <i>"индекс репродукции"</i>.
        Она определяет количество людей, которые будут заражены одним человеком, попавшим в полностью восприимчивое
        окружение. Если величина больше 0, то на начальном этапе число заболевших будет расти экспоненциально.
    </p>
    <p>
        Существуют и другие модели развития эпидемий, которые содержат большее количество параметров и учитывают
        смертельность болезни (<i>SIRD</i>), инкубационный период (<i>SEIR</i>) и иммунитет (<i></i>).
        Посмотреть на графики и прочитать подробнее о каждой модели можно на странице соответствующей модели.
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock content %}