<div class="model-title">
    {{model_name}} модель {% if vital %} с жизненной динамикой{% endif %}
</div>
<div class="content-width-center">
    <div class="page-container row">
        <div class="col-6 plot-container">
            <div id="resizable1">
                <div class="plot" id="chartdiv"></div>
            </div>

            {% if about %}
            <div class="about-info">
                <h3 class="about-header">О {{model_name}} модели</h3>
                {% include about %}
            </div>
            {% endif %}
        </div>
        <div class="col-4 form-container">
            <div class="vital-checkbox">
                <label class="switch-label" for="from-vital">
                        <span class="switch">
                            {% if vital %}
                            <input id='from-vital' type="checkbox" checked onclick="hide_vital()"/>
                            {% else %}
                            <input id='from-vital' type="checkbox" onclick="show_vital()"/>
                            {% endif %}
                            <span class="slider round"></span>
                        </span>
                    <span class="slider-desc">Строить с жизненной динамикой</span>
                </label>
            </div>
            <form class="form-card" method="post">
                {% csrf_token %}
                <table class="form-table">
                    {% for field in form %}
                    <tr id="table-{{field.name}}">
                        <th>{{ field.label_tag }}</th>
                        <td>
                            {{ field }}
                            {% if field.field.widget.input_type == "range" %}
                            <span class="input-range">
                                <input id="input-{{field.name}}" class="number-for-range" type="number" step="0.005"
                                       max=1 min=0 value={{field.value}}>
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr id="help-{{field.name}}">
                        <th></th>
                        <td class="help-text">
                            {{ field.help_text }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <input class="btn btn-lg btn-primary" type="submit" value="Построить">
                <input id="button-reset" class="btn btn-secondary btn-lg" type="reset" value="Уменьшить">
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function hide_vital() {
        postForm = document.getElementsByTagName('form')[0]
        postForm.action = './'
        postForm.submit()
    }

    function show_vital() {
        postForm = document.getElementsByTagName('form')[0]
        postForm.action = 'vital'
        postForm.submit()
    }

    function changeRangeValue() {
        for (let i = 0; i < rangeElements.length; i++) {
            let inputValue = document.getElementById("input-" + rangeElements[i].name)
            inputValue.value = rangeElements[i].value
            // updateBrn()
        }
    }

    function changeNumberValue() {
        for (let i = 0; i < inputNumberElements.length; i++) {
            let fieldValue = rangeElements[i]
            fieldValue.value = inputNumberElements[i].value
            // updateBrn()
        }
    }

    // function updateBrn() {
    //     let betaValue = document.getElementById("input-beta")
    //     let gammaValue = document.getElementById("input-gamma")
    //     let brnValue = document.getElementById("brn-value")
    //     if (brnValue)
    //         brnValue.innerText = (betaValue.value / gammaValue.value).toFixed(3).toString()
    // }
    //
    // updateBrn()
    let rangeElements = $('input[type=range]')
    for (let i = 0; i < rangeElements.length; i++) {
        rangeElements[i].onchange = changeRangeValue;
    }
    let inputNumberElements = $('input[class=number-for-range]')
    for (let i = 0; i < inputNumberElements.length; i++) {
        inputNumberElements[i].onchange = changeNumberValue;
    }
    $.jqplot._noToImageButton = true;
    if ('{{vital}}' == 'False') {
        document.getElementById('table-birth').style.display = "none"
        document.getElementById('help-birth').style.display = "none"
        document.getElementById('table-death').style.display = "none"
        document.getElementById('help-death').style.display = "none"
    }
    var options = {
        seriesColors: ["#33CDC7", "#E7003E", "#69b00b", "#FF7100",
            "#0085cc"],
        axes: {
            xaxis: {
                pad: 0,
                label: 'Дни',
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                // padMax:1.1
            },
            yaxis: {
                pad: 0,
                padMax: 1.1,
                label: 'Популяция',
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer
            }
        },
        cursor: {
            show: true,
            zoom: true
        },
    };
    $('#button-reset').click(function () {
        plot1.resetZoom()
    });
</script>
