<div class="model-title">{{model_name}} model</div>
<div class="plot-container" id="resizable1">
    <div class="plot" id="chartdiv"></div>
    <button id="button-reset" class="btn btn-secondary btn-lg">
        Zoom out {{N}}
    </button>
    <form class="form-card" method="post">
        <div class="confirm-message">Send offer.</div>
        {% csrf_token %}
        <table class="form-table">{{ form.as_table }}</table>
        <input class="btn btn-lg btn-primary" type="submit" value="Send">
        <span>
            <a class="btn btn-secondary btn-lg"
               href="#"
               role="button">
                Cancel
            </a>
        </span>
    </form>
</div>
