{% extends "base.html" %}
{% block content %}
{% include "models.html" %}
<script type="text/javascript">
    $(function () {
        console.log(1)
        let yS = JSON.parse("{{ y_S|escapejs }}");
        console.log(2)
        let yI = JSON.parse("{{ y_I|escapejs }}");
        console.log(3)
        let yR = JSON.parse("{{ y_R|escapejs }}");
        console.log(4)
        let yE = JSON.parse("{{ y_E|escapejs }}");
        plot1 = $.jqplot('chartdiv', [yS, yI, yR, yE], {
            legend: {
                show: true,
                placement: 'insideGrid',
                labels: ['S', 'I', 'R','E'],
            }, ...options
        });
    });
</script>
{% endblock content %}