{% extends "base.html" %}
{% block content %}
{% include "models.html" %}
<script type="text/javascript">
    $(function () {
        let yS = JSON.parse("{{ y_S|escapejs }}");
        let yI = JSON.parse("{{ y_I|escapejs }}");
        let yR = JSON.parse("{{ y_R|escapejs }}");
        plot1 = $.jqplot('chartdiv', [yS, yI, yR], {
            legend: {
                show: true,
                placement: 'insideGrid',
                labels: ['Восприимчивые (S)', 'Инфицированные (I)', 'Выздоровевшие (R)'],
            }, ...options
        });
    });
</script>
{% endblock content %}