{% extends "base.html" %}
{% block content %}
{% include "models.html" %}
<script type="text/javascript">
    $(function () {
        let yS = JSON.parse("{{ y_S|escapejs }}");
        let yI = JSON.parse("{{ y_I|escapejs }}");
        let yR = JSON.parse("{{ y_R|escapejs }}");
        let yD = JSON.parse("{{ y_D|escapejs }}");
        plot1 = $.jqplot('chartdiv', [yS, yI, yR, yD], {
            legend: {
                show: true,
                placement: 'insideGrid',
                labels: ['S', 'I', 'R', 'D'],
            }, ...options
        });
    });
</script>
{% endblock content %}